#about.spacer-for-nav
.container
	.section
		.row
			.col.s12.center
				h4 About Us
			.col.s12.left-align.light
				p
					| Here at Coffee ‘N Code, we make projects happen.
				p
					| Whether you’re a beginner or a pro, we want to provide you with guidance and the right
					| resources to help you grow your technical skill set. We want to help you explore new
					| languages and concepts and get started on side projects to unlock your programming
					| potential. If you already have a side project come work alongside our mentors, bounce
					| ideas of peers and
				p
					| Coffee ‘N Code meets every week, where we work on projects, engage in one-on-one mentorship,
					| or grab a coffee and just catch up with friends! We also put on special events throughout
					| the semester for our members. Check out our upcoming events *hyperlink to event section
					| of page*, and if you have any questions, we would love to hear from you *hyperlink to FB
					| inbox or email*. It’s never too late to take the first step on your coding journey -
					| join us at our next event! *hyperlink to current fb event or fb page*
				p
					| … oh, and coffee and tea is always on us 😉

