.navbar-fixed
	nav.white(role="navigation")
		.nav-wrapper.container
			a#logo-container.brand-logo(href="#")
				img(src="/assets/logo/horizontal/cnc_logo_black_horizontal.png")
			ul.right.hide-on-med-and-down
				!= partial("_navItems")
			ul#nav-mobile.sidenav
				!= partial("_navItems")
			a.sidenav-trigger(href="#", data-target="nav-mobile")
				i.material-icons.brown-text menu
