#hiring-banner.banner.parallax-container.valign-wrapper
	.section.no-pad-bot
		.container
			h1.header.center.brown-text.text-darken-2 We are recruiting!
			h3.header.center.brown-text.text-lighten-1 Fall 2018
			.mission.row.center
			.row.center
				a.btn-large.waves-effect.waves-light.brown.lighten-1(href="#{urls.execApp}" target="_blank")
					| Join Us
	.parallax
		img.responsive-img(src="/assets/images/uwcnc_s18_eot_team_wide.jpg", alt="Unsplashed team photo")
