doctype
html
	head
		//Compiled and minified CSS
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Oswald:400,700")
		link(rel="stylesheet" href="/styles/main.css")

	body
		!= partial("partials/_header")
		!= yield
		//Compiled and minified JS
		script(src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
		script(src='js/init.js')
